extends layout

block content
  h1 Delete Recipe
  p Are you sure you want to delete #{recipe.name}?
  form(method="post")
    input(type="hidden", name="recipeid", value=recipe._id)
    input(type="submit", value="Delete")